/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(233, 233, 233);
}
.container{
  display: flex;
  width: 1200px;
  margin: auto;
  margin-left: 75px;
  padding-left: 0px;
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  height: 110vh;
  background: #fff;
}
.navbar{
  width: 81%;
  margin: 0 auto;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  max-width: 122%; 
  max-height: 122%; 
  padding-top: 26px;
  padding-bottom: 48px;
  width: auto; 
  height: auto; 
}
.logo h1{
  margin-left: 1rem;
  text-transform: uppercase;
}
.navbar ul{
  margin: 0 auto;
  margin-left: -7px;
  padding-left: 0px;
}
.navbar li{
  padding-bottom: 2rem;
}
.navbar li a{
  font-size: 16px;
  text-decoration: none;
  color: rgb(85, 83, 83);
}

.navbar a:hover{
    background: #eee;
    border-radius: 8px;
    padding: 9px;
    transition: 0.4s ease;
}
nav i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.logout{
  position: fixed !important;
  bottom: 20px;
}
/* Main Section */
.main{
  width: 100%;
}
.main-top{
  width: 100%;
  background: #fff;
  padding: 10px auto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(43, 43, 43);
}
.main-body{
  padding: 10px 10px 10px 20px;
}
